@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color0: #000d16;
    --color1: #02416d;
    --color2: #0a5483;
    --color3: #066699;
    --color4: #aedd2b;
    --color5: #f8f8ec;

    --space0: 50px;
    --space1: 40px;
    --space2: 20px;
    --space3: 10px;
    --space4: 5px;
    --space5: 2px;

    --border-radius1: 10px;
    --border-radius2: 5px;
    --border-radius3: 2px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color5);
    color: black;
}

/*  NOTE:  para ocultar barra de navegação */
/* body::-webkit-scrollbar {
    scrollbar-width: none;
    width: 0;
} */

.banner {
    display: flex;
    justify-content: center;
    gap: var(--space3, 10px);
    background-color: var(--color1);
    color: var(--color5);
    padding-block: var(--space3, 10px);
}

.banner__item {
    display: flex;
    align-items: center;
    gap: var(--space4, 5px);
}

.banner__title {
    font-weight: 500;
}

.banner__link {
    color: var(--color5);
}

.banner__link:hover {
    text-decoration: none;
}

.link {
    display: block;
}

.link__image-black-friday {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space2, 20px) var(--space1, 40px);
    background-color: var(--color4);
}

.nav__list {
    list-style: none;
}

.nav__item--pipe::after {
    content: '|';
    margin-inline-start: var(--space3, 10px);
}

.nav__link {
    text-decoration: none;
    color: var(--color0);
}

.nav__link:hover {
    text-decoration: underline;
}

.header__content {
    display: flex;
    align-items: center;
    gap: var(--space2, 20px);
}

.content__link {
    text-decoration: none;
    color: var(--color0);
}

.content__title:hover {
    cursor: pointer;
    color: var(--color2);
}

.header__btn-menu:hover {
    cursor: pointer;
    color: var(--color2);
}

.header__user-actions {
    display: flex;
    align-items: center;
    gap: var(--space2, 20px);
}

.nav__list {
    display: flex;
    gap: var(--space3, 10px);
}

.search-cart {
    display: flex;
    align-items: center;
    gap: var(--space3, 10px);
}

.search__field {
    position: relative;
    display: flex;
    height: calc(var(--space3, 10px) * 3);
    width: 200px;
}

.search__filed:hover {
    cursor: pointer;
}

.search__label {
    position: absolute;
    left: var(--space4, 5px);
    top: 50%;
    transform: translateY(-50%);
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--color5);
    color: var(--color0);
    border-radius: var(--border-radius1);
    padding: 0 10px 0 26px;
}

.cart__field {
    display: flex;
    align-items: center;
}

.cart__link {
    display: flex;
    gap: var(--space4, 5px);
    text-decoration: none;
    color: var(--color0);
}

.cart__link:hover {
    color: var(--color3);
}

.main {
    padding: var(--space1) calc(var(--space1) * 2);
}

.main__features {
    margin-bottom: var(--space1, 40px);
    display: flex;
    justify-content: space-between;
}

.feature {
    display: flex;
    gap: var(--space3, 10px);
}

.feature__icon {
    min-width: var(--space0, 50px);
    height: var(--space0, 50px);
    background-color: var(--color4);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.main__news {
    margin-block: var(--space1, 40px);
    text-align: center;
}

.news__title {
    font-size: 2rem;
    margin-bottom: var(--space2, 20px);
}

.news__description {
    margin-bottom: var(--space1, 40px);
}

.news__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space1, 40px);
}

.item {
    overflow: hidden;
    height: 500px;
    position: relative;
    color: var(--color5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius2, 5px);
    transition: all .1s linear;
}

.item:hover {
    cursor: pointer;
    scale: 1.01;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.item--landscape1 {
    grid-column: 2 / 4;
}

.item--landscape2 {
    grid-column: 1 / 3;
}

.item__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.item__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item__title {
    font-size: 1.75rem;
    font-weight: 700;
}

.item__cta {
    font-size: 1.2rem;
}
