@font-face {
    font-family: "NovaMono";
    src: url(NovaMono-Regular.ttf);
}

@font-face {
    font-family: Play Pretend;
    src: url(Play\ Pretend.otf);
}

@font-face {
    font-family: Race Sport;
    src: url(../fonts/RaceSport.ttf);
}

:root {
    --backGround: #FF6B00;
    --header: #FF8A00;

    --margin: 10px;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    padding: 10px;
    background-color: var(--header);
}

header a.logo {
    font-family: "Race Sport";
    text-align: center;
    text-decoration: none;
}

header a.logo > span {
    color: white;
}

header span {
    color: black;
    transform: translateY(3px)
}

header fieldset {
    border: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: white;
}

header fieldset input {
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    font-size: 1em;
}

/* Terminar de corrigir a posição do "insira seu e-mail" */
h1{
    text-align: center;
    font-family: NovaMono;
    font-size: 32px;
    color: black;
    background-color: #ff6a00b4;
    border-radius: 20px;
}

input{
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    font-family: NovaMono;
    color: black;
    width: 300px;
}

form{
    background-color: #ff6a00b4;
    font-family: Play Pretend;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
}

input[type="submit"] {
    background-color: #ff6a00;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

body{
    background-image: url(imagem\ login.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}